.main-container {
    display: flex;
    flex-direction: row;
}

.main-sideNav {
    display: flex;
    flex: 0.15;
    height: 99vh;
    flex-direction: column;
    background: #D8DAE6 ;
    border-radius: 0px 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.main-content-area {
    display: flex;
    flex: 0.85;
    flex-direction: column;
}

.logo-container {
    padding: 10px;
    display: flex;
    /* flex: 1; */
    height: 8vh;
    justify-content: center;
}

.logo-img {
    height: 50px;
}

.apps-container {
    justify-content: center;
}

.chart-container {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}