.paper-container {
    text-align: 'center';
    padding: 20px;

}

.placeholder {
    display: flex;
}

.text-area-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.txt-area {
    display: flex;
}

.btn-area {
    margin-top: 20px;
    padding: 30px;
}