.show {
  box-shadow: 0 14px 48px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  /* border: 2px solid red; */
}
.title {
  flex: 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.scroll-table {
  /* position: fixed; */
  overflow-y: scroll;
  height: 100%;
  /* overflow: hidden; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
